/* This is the design for the header navigation */
.navigation {
    width: 100%;
    margin-bottom: 50px;
    flex-shrink: 0;
}
.logo {
    display: flex;
    text-align: center;
}
.topNav {
    width: 100%;
    padding-top: 15px;
    list-style-type: none;
    display: flex;
    vertical-align: top; 
}
.inline-block .logo {
    width: 473px;
    height: 112px;
    flex-shrink: 0;
}
li {
    color: #7E5C82;
    text-align: center;
    list-style-type: none;
    list-style: none;
    /* Navigation Style */
    font-family: Nunito Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 20%;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.topNav li:hover {
    color: #518265;
}
.topNav li:active {
    color: #8578A8;
}
.topNav li:focus{
    color: var(--meghan-green, #518265);
    text-align: center;
    text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

    /* Navigation Style */
    font-family: Nunito Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Wonderbloom case study style */
.jumbotron {
    background: transparent !important;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.bloomLogo {
    width: 463px;
    height: 388px;
    flex-shrink: 0;
}
.display-4 {
    color: var(--meghan-green, #518265);
    text-align: center;
    font-family: Source Code Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* 109.375% */
    margin-top: 25px;
}
.lead_1 {
    color: #000;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 35px;
    margin-left: 60px;
}
.my-4 {
    color: #000;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 208.333% */
}
.smallBold {
    color: #000;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 208.333% */
}
.container-1 {
    justify-content: space-evenly;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
}
.row-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
}
.orangeBox {
    background-color: #FBCCA8;
    width: max-content;
    height: 500px;
    flex-shrink: 0;
    /* height: 800px; */
}
.wonderSummary {
    color: #000;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px; /* 156.25% */
    margin-left: 250px;
    margin-top: 120px;
}
#chalkboard {
    width: 320px;
    height: 320px;
    flex-shrink: 0;
    margin-left: 200px;
    margin-top: 90px;
}
/* User Persona styling */
.userIntro {
    color: #000;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px; /* 208.333% */
    display: flex;
    /* width: 1208px; */
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 300px;
}
#persona {
    color: #000;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 156.25% */
}
.personaAsh {
    /* display: flex; */
    /* align-items: normal; */
}
.userSummary {
    color: #000;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px; /* 208.333% */ 
}
#userAshley {
    width: 845px;
    height: 594px;
    flex-shrink: 0;
    padding-top: 0px;
}
.userStatement {
    color: #000;
    text-align: center;
    font-family: Yesteryear;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; /* 118.182% */
    display: flex;
    /* width: 1208px; */
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 300px;
}
.row-2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
}
.greenBox {
    background-color: #C7D7D4;
    width: max-content;
    height: 500px;
    flex-shrink: 0;
    justify-content: space-evenly;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
}
#slide {
    padding-left: 250px;
    padding-top: 50px;
}
.double {
    display: flex;
    flex-direction: column;
}
#howMight {
    color: #000;
    font-family: Nunito Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px; /* 227.273% */
    padding-right: 180px;
    padding-top: 65px;
}
#solution {
    color: #000;
    text-align: right;
    font-family: Nunito Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 227.273% */
    padding-right: 180px;
    padding-top: 35px;
}
#siteMap {
    width: 880px;
    height: auto;
    padding-left: 150px;
}
#newSiteMap {
    color: #000;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    line-height: 50px; /* 156.25% */
    padding-top: 20px;
    padding-bottom: 75px;
}
.grayBox {
    background-color: #DCDCDC;
    width: max-content;
    height: 500px;
    flex-shrink: 0;
    justify-content: space-evenly;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    padding-top: 25px;
}
#iaAnalysis {
    width: 880px;
    height: auto;
}
#color {
    color: #000;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px; /* 156.25% */
    padding-top: 35px;
    padding-left: 250px;
    padding-right: 250px;
    
}
.slide {
    width: max-content;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#bottomPhoto {
    width: max-content;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 50px;
}

/* This is the design for the footer */
.foot {
    /* position: fixed; */
    /* bottom: 0; */
}
.preFooter {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    padding-left: 25%;
    padding-top: 30px;
    padding-bottom: 20px;
}
.purpleButton {
    display: flex;
    width: 230px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 65px;
    background: var(--normal-button-purple, #A181B1);
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.purpleButton:hover {
    background-color: #C4ABD1;
}
.purpleButton:active {
    background-color: #8578A8;
}
h2 {
    display: flex;
    width: 229px;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--dark-purple-text, #7E5C82);
    text-align: center;
    /* Navigation Style */
    font-family: Nunito Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.greenFoot {
    background-color: #518265;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
    /* Style for footer writing */
    color: white;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-grid;
    vertical-align: top;
    grid-template-columns: auto auto auto auto auto auto;
}
#linkedIn {
    width: 70px;
    height: 70.597px;
    padding: 20px;
    padding-top: 40px;
    flex-shrink: 0;
    grid-column: 9;
}
#MBLogo {
    width: 90px;
    height: 90px;
    padding-top: 30px;
    flex-shrink: 0;
    grid-column: 10;
}
.contact1 {
    padding-top: 40px;
    padding-left: 20px;
}
.contact2 {
    padding-left: 20px;
    padding-top: 10px;
}


*,  *::before, *::after {     margin: 0;     padding: 0;     box-sizing: border-box; }


/* media query for mobile & tablet */
@media (max-width: 420px) {
  .navbar-brand ul li{
     width:100%;
   }}
   .jumbotron {
    flex-direction: column;
   }